.wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container {
    height: var(--tableHeight);
    overflow: auto;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    min-width: 34rem;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
}

thead th {
    background-color: var(--tableHeaderColor);
    color: var(--tableTextColorLight);
    border-top: 1px solid var(--tableBorderColor);
    border-bottom: 1px solid var(--tableBorderColor);
    border-right: 1px solid var(--tableBorderColor);
}

th:first-child {
    border-left: 1px solid var(--tableBorderColor);
}

td {
    border-bottom: 1px solid var(--tableBorderColor);
    border-right: 1px solid var(--tableBorderColor);
    padding: 1rem 0.5rem;
}

td:first-child {
    border-left: 1px solid var(--tableBorderColor);
}


td:first-child {
    width: 15%;
}

tr {
    background-color: var(--tableRowColor);
    color: var(--tableTextColorDark);
    height: var(--rowHeight);
}

.newRowAppend {
    margin-bottom: 0.5rem;
}

.newRowAppend tr {
    display: flex;
    flex-wrap: wrap;
    height: min-content;
}

.newRowAppend td {
    width: min-content;
    background-color: var(--tableHeaderColor);
    color: var(--tableTextColorLight);
}

.actionsRow {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.warnText {
    font-size: 0.8rem;
    color: var(--warnTextColor)
}

@media (max-width: 1425px) {
    .wrap { 
        width: 100%;
    }
    .container {
        height: var(--tableHeightMobile);
    }
  }