:root {
  --rowHeight: 3.5rem;
  --tableHeight: 38.5rem;
  --tableHeightMobile: 20rem;
  --tableBorderColor: #006363;
  --tableSelectedRowColor: #1D7373;
  --tableRowColor: #FFFFFF;
  --tableTextColorDark: #006363;
  --tableTextColorLight: #FFFFFF;
  --tableHeaderColor: #009999;
  --warnTextColor: red;
}

body, html {
  font-size: 16px;
}

.tables__wrap {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  gap: 2rem;
}

@media (max-width: 1425px) {
  .tables__wrap { 
    flex-direction: column;
  }
}